* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Dashboard {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.Dashboard-header {
  margin-bottom: 0;
}

.main-content {
  display: flex;
}

.content {
  display: flex;
  height: calc(100vh - 50px); 
  margin: 0;
}

.map-container {
  flex-grow: 1; /* Allows the map to fill the remaining width */
  height: 100%; /* Ensures the map takes the full height of its container */
}

/* App.css */

.sidebar {
  width: 250px; /* Adjust the width as needed */
  background-color: #f8f9fa; /* A light grey background for the sidebar */
  overflow-y: auto; /* Allow scrolling if there are many pins */
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  padding: 10px; /* Padding around the sidebar content */
  margin: 0;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

/* This will center the buttons within each ListGroup.Item */
.list-group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Full-width buttons with centered text */
.list-group-item .btn {
  width: 100%;
  margin-bottom: 5px; /* Spacing between buttons */
}

/* Center the Add Pin button */
.sidebar .btn.w-100 {
  width: 90%; /* Set the desired width */
  margin-left: auto;
  margin-right: auto;
}

/* Navbar styles */
.navbar {
  justify-content: space-between;
  padding: 0.5rem 1rem; 
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-weight: bold; /* Make the 'Map App' text bold */
}

/* Nav link styles */
.nav-link {
  position: relative;
  display: inline-block;
  margin-right: 20px; /* Space between links */
}

.nav-link:last-child {
  margin-right: 0; /* No margin for the last item */
}

/* Animated underline effect */
.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust as needed based on link padding */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000; /* Color of the underline */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%; /* Full width on hover/focus */
}

.map-container {
  margin: 0;
}

